// funtes
$fuente:  'Montserrat', sans-serif;
//  font-weight
$thin : 100;
$regular : 400;
$bold: 700;
$extraBold: 800;

// Colores
$principal : #ee7417;
$principalClaro: #f4a467;
$letra : #3A3A3A;
$blanco : #f0f8ff;

// Devices
$phone: 480;
$tablet: 580;
$desktop: 768;



